* {
  /* font-family: 'Antonio', sans-serif; */
  font-family: 'Spartan', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-size: 16px;

  /* Primary */
  --mercury: #419ebb;
  --venus: #eda249;
  --earth: #6d2ed5;
  --mars: #d14c32;
  --jupiter: #d83a34;
  --saturn: #cd5120;
  --uranus: #1ec1a2;
  --neptune: #2d68f0;

  /* Neutral */
  --black: #070724;
  --gray-dark: #38384f;
  --gray: #838391;
  --button-hover: #313148;
  --white: #ffffff;
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-25: hsla(0, 0%, 100%, 0.25);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-10: hsla(0, 0%, 100%, 0.1);

  /* Typography */
  --h1: 4.375rem;
  --h1-lh: 4.375rem;

  --h2: 0.688rem;
  --h2-lh: 25px;
  --h2-ls: 1px;

  --body: 0.875rem;
  --body-lh: 25px;

  --body-s: 0.875rem;
  --body-s-lh: 25px;

  --button: 0.75rem;
  --button-lh: 25px;
  --button-ls: 2.57px;

  --strong: 2.5rem;
  --strong-lh: 2.5rem;
  --strong-ls: -1.5px;

  --logo: 1.75rem;
  --logo-lh: 1.75rem;
  --logo-ls: -1.05px;

  --nav: 0.688rem;
  --nav-lh: 25px;
  --nav-ls: 1px;

  --nav-mobile: 0.938rem;
  --nav-mobile-lh: 25px;
  --nav-mobile-ls: 1.36px;

  /* Other */
  --container-l: 1368px;
  --container: 1100px;
}

body {
  background: repeat-y url('./assets/background-stars.svg') center / cover;
  background-color: var(--black);
}

h1 {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: var(--h1);
  line-height: var(--h1-lh);
}

h2 {
  text-transform: uppercase;
  color: var(--white-50);
  font-size: var(--h2);
  line-height: var(--h2-lh);
  letter-spacing: var(--h2-ls);
}

.body {
  font-size: var(--body);
  line-height: var(--body-lh);
}

.body-s {
  font-size: var(--body-s);
  line-height: var(--body-s-lh);
}

.strong {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--strong);
  line-height: var(--strong-lh);
  letter-spacing: var(--strong-ls);
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif;
  font-size: var(--logo);
  line-height: var(--logo-lh);
  letter-spacing: var(--logo-ls);
}

.nav {
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--nav);
  line-height: var(--nav-lh);
  letter-spacing: var(--nav-ls);
}

.nav-mobile {
  text-transform: uppercase;
  color: #fff;
  font-size: var(--nav-mobile);
  line-height: var(--nav-mobile-lh);
  letter-spacing: var(--nav-mobile-ls);
  font-weight: 700;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}

@media (max-width: 968px) {
  :root {
    --h1: 3rem;
    --h1-lh: 3rem;

    --h2: 0.5rem;
    --h2-lh: 16px;
    --h2-ls: 0.75px;

    --body: 0.688rem;
    --body-lh: 22px;

    --body-s: 0.75rem;

    --strong: 1.5rem;
    --strong-lh: 1.5rem;
    --strong-ls: -0.9px;

    --button: 0.563rem;
    --button-ls: 1.93px;
  }
}

@media (max-width: 500px) {
  :root {
    --h1: 2.5rem;
    --h1-lh: 2.5rem;

    --strong: 1.25rem;
    --strong-lh: 1.25rem;
    --strong-ls: -0.75px;

    --body: 0.938rem;
  }
}
